*{
    
    box-sizing: border-box !important;
}

.logo{
    width: 250px;
    height: 100px;
}

.nav-container{
    height: 60px;
}

.primary-bg{
    background-color: #1a2d59;
}

.nav-start{
    margin-left: 100px !important;
}
.nav-end{
    margin-right: 100px !important;
}