.footer-container{
    background-color: #1a2d59;
    color: #ffffff;
    padding: 60px 150px !important;

    .links{
        font-size: 12px;
        text-decoration: none;
        color: #ffffff;
        opacity: 0.7;
    }
    .links:hover{
        text-decoration: underline;
        opacity: 1;
    }
}

.footer-desc{
    p {
        width: 400px;
        opacity: 0.5;
        color: #fafafa;
    }
}