@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

$font-family_1: "Roboto Slab", serif;

body {
	font-family: $font-family_1;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}


input[type="number"] {
	-moz-appearance: textfield;
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
